/* @import '~antd/dist/antd.css'; */

.ant-table-thead tr th {
    background-color: #000;
    color: #fff;
    font-size: 18px;
}

.role-wrap {
    margin: 0 auto;
    max-width: 1280px;
    padding: 20px;
}

.role-wrap h3 {

    margin-bottom: 10px;
}

.role-wrap button {
    margin-bottom: 10px;
}

.ant-modal-header {
    background: #000;
}

/* .ant-modal-title {
    color: #fff !important;
}

.anticon svg {
    color:#fff;
} */