.user-list-wrap {
    margin: 0 auto;
    max-width: 1280px;
    padding: 20px;
}

.user-list-wrap h3 {
    text-align: center;
    margin-bottom: 10px;
}

.user-list-wrap button {
    margin-bottom: 10px;
}

.register-wrap {
    margin: 0 auto 17vh auto;
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.register-wrap h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.register-form {
    width: 100%;
    max-width: 400px;
}

.login-wrap {
    margin: 0 auto 17vh auto;
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.login-wrap h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.login-form {
    width: 100%;
    max-width: 400px;
}

.create-report-btn {
    background-color: #ffa500;
    border-color: #ffa500;
    margin-left: 30px;
    color: black;
}

.create-report-btn:hover {
    background-color: #f8b944;
    border-color: #f8b944;
    color: black;
}

.create-report-btn:focus {
    background-color: #ffa500;
    color: black;
    border-color: #ffa500;
}

@media screen and (max-width: 960px) {
    .user-list-wrap {
        width: 100%;
    }

    .register-wrap {
        width: 100%;
    }

    .login-wrap {
        width: 100%;
    }
}