footer {
  background-color: #111;
  color: #ffffff;
  padding: 3rem 3rem;

  width: 100%;
  display: flex;
}

a {
  color: #ffffff;
}

.footer-text {
}

.footer-nav {
  display: flex;
  justify-content: space-between;
}

.footer-nav > * {
  margin: 0 3rem;
}
