footer {
  background-color: black;
  color: #ffffff;
  padding: 3rem 3rem;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

a {
  color: #ffffff;
}

.footer-nav>* {
  margin: 0 3rem;
}

.footer-one {
  width: 25%;
  text-align: left;
  padding-left: 60px;
}

.footer-two {
  width: 25%;
  text-align: right;
  padding-right: 60px;
}


@media (max-width: 1250px) {

  .footer-one {
    width: 50%;
  }

  .footer-two {
    width: 50%;
  }

  footer {
    justify-content: space-between;
  }
}