footer {
  background-color: black;
  color: #ffffff;
  padding: 3rem 3rem;

  width: 100%;
  display: flex;
}

a {
  color: #ffffff;
}

.footer-nav>* {
  margin: 0 3rem;
}

.footer-one {
  width: 25%;
  float: left;
  text-align: center;
}

.footer-two {
  width: 25%;
  float: left;
}

.footer-three {
  width: 25%;
  float: left;
}

.footer-four {
  width: 25%;
  float: left;
  text-align: center;
}